body,div,p,ul,ol,li,dl,dt,dd,table,th,tr,td,caption,form,fieldset,legend,input,img,hr,h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}
html{
    overflow-x:hidden; 
}
body{
    font-family:'-apple-system','PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif;
}
ul,ol{
    list-style:none;
}
a{
    text-decoration:none;
}
img{
    vertical-align: bottom;
    border:none;
}

$font_hover_color:#e62579;
/* ----------------------------顶部nav---------------------------- */
// 遮罩层
%shadow{
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, .5);
    position:absolute;
    top:0;
    left:0;
    z-index: 5;
    display: none;
    opacity: 0;
}
%nav{
    width:100%;
    height: 48px;
    background:#000;
    .nav_con{
        max-width:1200px;
        line-height: 48px;
        margin:0 auto;
        position: relative;
        // 宽屏状态导航条
        .menu{
            width:100%;
            height:48px;
            text-align: justify;
            text-justify:distribute-all-lines;
            font-size:14px;
            &:after{
                content:'';
                width:100%;
                overflow: hidden;
                display: inline-block;
            }
            // 菜单选项
            li{
                display: inline-block;
                a{
                    color:#fff;
                    transition:opacity 0.3s;
                    -webkit-transition:opacity 0.3s;
                    vertical-align: top;
                    &:hover{
                        opacity: 0.6;
                    }
                }
                .logo,.search,.user{
                    display: inline-block;
                    height:48px;
                    text-indent: -2000px;
                    background:url(../../img/base.png) no-repeat;
                }
                .logo{
                    width:122px;
                    background-position:0 7px;
                    transition:transform 0.2s;
                    transition:-webkit-transform 0.2s;
                }
                // 搜索
                .search{
                    width:16px;
                    background-position:-210px 9px;
                }
                // 购物袋、用户登录
                .user{
                    width:20px;
                    background-position:-165px 7px;
                }
            }
        }
        // 窄屏状态导航条
        .short{
            .menu_button{
                display:inline-block;
                width:48px;
                height:48px;
                position: relative;
                &:hover{
                    opacity: 1;
                }
                span{
                    display:inline-block;
                    width:18px;
                    height:1px;
                    background:#fff;
                    position:absolute;
                    left:50%;
                    transform:translate(-50%);
                    -webkit-transform:translate(-50%);
                    &:nth-of-type(1){
                        top:17px; 
                        transition:transform 0.5s;                       
                        transition:-webkit-transform 0.5s;                       
                    }
                    &:nth-of-type(2){
                        top:24px; 
                        transition:opacity 0.5s;                       
                        -webkit-transition:opacity 0.5s;                       
                    }
                    &:nth-of-type(3){
                        top:31px; 
                        transition:transform 0.5s;                       
                        transition:-webkit-transform 0.5s;                        
                    }
                }
                .span_top{
                    transform: rotate(45deg) translateY(10px);
                    -webkit-transform: rotate(45deg) translateY(10px);
                    transform-origin:center;
                    -webkit-transform-origin:center;
                }
                .span_center{
                    opacity:0;
                }
                .span_bottom{
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg) translateY(-10px);
                    transform-origin:center;
                    -webkit-transform-origin:center;
                }
            }
            .logo_hide{
                opacity: 0;
            }            
            .logo_slide{
                transform: translateY(-40px);
                -webkit-transform: translateY(-40px);
            }
            .user{
                margin:0 16px;
                transition:transform 0.5s;
                transition:-webkit-transform 0.5s;
            }
            .user_slide{
                transform: translateX(50px);
                -webkit-transform: translateX(50px);
            }
        }
        // 窄屏菜单列表
        .cover{    
            width:100%;
            height:100%;
            padding:0 0.7rem;
            box-sizing: border-box;
            background:#000; 
            position:fixed;
            top:46px;
            left:0;
            z-index: 5;  
            display:none;     
            .cover_menu{
                display: none;
                .cover_recommend_list{
                    margin-top:37px;
                    li{
                        font-size:14px;
                        line-height:42px;
                        border-bottom:1px solid #272727;
                        transform: translate(-50px,-50px);
                        -webkit-transform: translate(-50px,-50px);
                        opacity:0;
                        &:nth-of-type(1){                            
                            transition:transform 0.5s 0.2s,opacity 0.5s 0.2s;
                            transition:-webkit-transform 0.5s 0.2s,opacity 0.5s 0.2s;
                        }
                        &:nth-of-type(2){                            
                            transition:transform 0.5s 0.23s,opacity 0.5s 0.23s;
                            transition:-webkit-transform 0.5s 0.23s,opacity 0.5s 0.23s;
                        }
                        &:nth-of-type(3){                            
                            transition:transform 0.5s 0.26s,opacity 0.5s 0.26s;
                            transition:-webkit-transform 0.5s 0.26s,opacity 0.5s 0.26s;
                        }
                        &:nth-of-type(4){                            
                            transition:transform 0.5s 0.29s,opacity 0.5s 0.29s;
                            transition:-webkit-transform 0.5s 0.29s,opacity 0.5s 0.29s;
                        }
                        &:nth-of-type(5){                            
                            transition:transform 0.5s 0.32s,opacity 0.5s 0.32s;
                            transition:-webkit-transform 0.5s 0.32s,opacity 0.5s 0.32s;
                        }
                        a{
                            color:#fff;                            
                            transition:opacity 0.3s;
                            -webkit-transition:opacity 0.3s;
                            &:hover{
                                opacity:0.6;
                                -webkit-opacity:0.6;
                            }
                        }
                    }
                    .cover_recommend_list_default{
                        opacity:1;
                        transform: translate(0,0);
                        -webkit-transform: translate(0,0);
                    }
                    .cover_recommend_list_hide{
                        opacity: 0;
                        transform:scale(1.5) translateY(-20px);
                        transform-origin:100px;
                        transition:transform 0.5s,opacity 0.5s !important;
                    }
                }
                .search_in{
                    font-size:16px;                    
                    line-height:42px;
                    border-bottom:1px solid #272727;
                    opacity:0;
                    transform: translate(-50px,-50px);
                    -webkit-transform: translate(-50px,-50px);
                    transition:transform 0.5s 0.35s,opacity 0.5s 0.35s;
                    transition:-webkit-transform 0.5s 0.35s,opacity 0.5s 0.35s;
                    // 提交按钮
                    button{
                        width:40px;
                        height: 42px;
                        padding:0;
                        margin-left:-10px;
                        vertical-align: middle;
                        border:none;  
                        outline:none;  
                        text-indent: -1000px;                
                        background:url(../../img/base.png) no-repeat -200px 8px;
                    }
                    // 输入栏
                    input{
                        line-height:42px;
                        border:none;
                        background:#000;
                        font-size:14px;
                        color:#fff;
                        outline:none;
                        vertical-align: middle;
                    }
                    // 设置placeholder颜色
                    & ::-webkit-input-placeholder { /* WebKit browsers */                
                        color:#fff;                
                    }                
                    & :-moz-placeholder { /* Mozilla Firefox 4 to 18 */                
                        color:#fff;                
                    }                
                    & ::-moz-placeholder { /* Mozilla Firefox 19+ */            
                        color:#fff;
                    } 
                }
            }
        }
        // 隐藏的购物袋菜单
        .hide_menu_con{
            width:260px;
            background:#fff;
            box-shadow: 0 5px 20px rgba(0,0,0,.5);
            border-radius: 3px;
            padding:15px 20px 12px;
            font-size:14px;
            position:absolute;
            top:41px;
            right:-80px;
            z-index: 2;
            display: none;
            img{
                position:absolute;
                top:-7px;
                right:87px;
            }
            .shop_cart{
                line-height: 74px;
                text-align: center;
                color:#999;
            }
            // 底部链接
            .menu_link{
                li{
                    border-top:1px solid #e7e7e7;
                    a{
                        display: inline-block;
                        width:100%;
                        line-height: 49px;
                        color:#333;
                        &:hover{
                            color:$font_hover_color;
                            text-decoration:underline;
                        }
                        .iconfont{
                            display: inline-block;
                            width:16px;
                            line-height:49px;
                            font-size:16px;
                            margin-right:10px;
                        }
                    }
                }
            }
        }
        /* 搜索框 */
        .search_box{
            width:50%;
            background:#000;
            line-height: 44px;
            font-size:14px;
            position:absolute;
            top:0;
            left:50%;
            transform: translate(-50%);
            -webkit-transform: translate(-50%);
            z-index: 6;
            display: none;
            // 搜索框输入栏
            .search_in{
                padding-left:150px;
                font-size:16px;
                opacity: 0;
                // 提交按钮
                button{
                    display: inline-block;
                    width:40px;
                    height: 44px;
                    vertical-align: middle;
                    border:none;  
                    outline:none;  
                    text-indent: -1000px;                
                    background:url(../../img/base.png) no-repeat -200px 8px;
                }
                // 输入栏
                input{
                    border:none;
                    width:80%;
                    background:#000;
                    font-size:14px;
                    color:#fff;
                    outline:none;
                    vertical-align: middle;
                }
                // 设置placeholder颜色
                & ::-webkit-input-placeholder { /* WebKit browsers */                
                    color:#c0c0c0;                
                }                
                & :-moz-placeholder { /* Mozilla Firefox 4 to 18 */                
                    color:#c0c0c0;                
                }                
                & ::-moz-placeholder { /* Mozilla Firefox 19+ */            
                    color:#c0c0c0;
                } 
                // 关闭按钮
                .close_search{
                    float:right;
                    margin-right:12px;
                    font-size:28px;
                    color:#d0d0d0;
                    &:hover{
                        color:#999;
                    }
                }
                .close_search_top{
                    opacity:0;
                    float:left;
                    width:23px;
                    height:14px;
                    background:url('../../img/base.png') no-repeat -248px -24px;
                }
            }
            // 快速链接
            .quick_link{
                color:#999;
                opacity: 0;
                padding-left:150px;
            }
            // 快速链接列表
            .recommend_list{
                li{
                    opacity: 0;
                    padding-left:150px;
                    border-bottom:1px solid #272727;
                    a{                        
                        color:#fff;
                    }
                }
            }
        }
    }
}

/* ----------------------------link_area------------------------- */
// 底部链接区域
%link_area_out{
    width:100%;
    padding-top:30px;
    box-sizing: border-box;
    background:#f4f4f4;
    .link_area{
        border-bottom:1px solid #dedede;
        max-width:1200px;
        margin:0 auto;
        padding-bottom:20px;
        overflow: hidden;
        // 链接列表
        .link_list{
            float:left;
            width:80%;
            // 每一列链接
            .link_list_column{
                float:left;
                width:20%;
                color:#333;
                .column_title{
                    font-weight:100;
                    font-size:12px;
                    line-height: 28px;
                    .link_list_icon_button{
                        display: none;
                    }
                }
                .column_item{                
                    .column_link{
                        color:#333;
                        transition:color 0.2s;
                        -webkit-transition:color 0.2s;
                        font-size:12px;
                        line-height: 28px;
                        &:hover{
                            color:$font_hover_color;
                            text-decoration:underline;
                        }
                    }
                }
            }
        }   
        // 服务热线 
        .server_line{
            float:left;
            width:20%;
            .server_line_con{  
                float:right;          
                color:#333;
                .server_time{
                    font-size:12px;
                    span{
                        margin-left:20px;
                    }
                }
                .phone_num{
                    font-size:26px;
                    font-weight:100;
                    line-height: 70px;                
                }
                .server_online{
                    font-size:12px;
                    color:#333;
                    transition:color 0.2s;
                    -webkit-transition:color 0.2s;
                    position: relative;
                    &:hover{
                        color:$font_hover_color;
                        text-decoration:underline;
                    }
                    .iconfont{
                        font-size:14px;
                        text-decoration:none;
                        position:absolute;
                        top:2px;
                        left:50px;
                    }
                }
            }
            .server_line_con_left{
                display: none;
            }
        }
    }
}
/* ----------------------------copyRight------------------------- */
%copyRight{
    width:100%;
    background:#f4f4f4;
    font-size:16px;
    .copyRight_con{
        max-width:1200px;
        margin:0 auto;
        padding:30px 0;
        line-height: 1;
        position: relative;
        .copyRight_info{            
            display: inline-block;
            font-size:12px;
            color:#333;
        }
        .copyRight_con_top{
            font-size:16px;
            display: inline-block;
            li{
                display: inline-block;
                a{
                    font-size:12px;
                    color:#333;
                    padding:0 18px;
                    transition:color 0.2s;
                    -webkit-transition:color 0.2s;
                    &:hover{
                        color:$font_hover_color;
                        text-decoration:underline;
                    }
                }
                &:after{
                    content:'';
                    width:1px;
                    height:10px;
                    display: inline-block;
                    background:#eaeaea;
                }
                &:last-of-type{
                    &:after{
                        display: none;
                    }
                }
            }
        }
        .copyRight_info{
            font-size:12px;
            color:#333;
            margin-top:16px;
            a{
                display: inline-block;
                font-size: 12px;
                color:#333;
                transition:color 0.2s;
                -webkit-transition:color 0.2s;
                &:hover{
                    color:$font_hover_color;
                    text-decoration:underline;
                }
            }
        }
        .copyRight_con_bottom_left{
            display: none;   
        }
        .country{
            position:absolute;
            right:0;
            top:30px;
            font-size:16px;
            .country_checked{
                a{                    
                    font-size:12px;
                    color:#999;
                    line-height: 18px;
                    .country_icon{
                        display: inline-block;
                        width:16px;
                        height:18px;
                        margin-right:10px;
                        vertical-align: bottom;
                        background:url('../../img/base.png') no-repeat -300px -5px;
                    }
                }                
            }
        }
    }
}


/* -----------------------------响应式布局----------------------- */
/* 屏幕宽度为1240时，底部链接区域和copyRight加左右padding */
@media screen and (max-width:1240px){
    .link_area_out{        
        padding:30px 10px 0;
        .link_area{
            padding-bottom:20px;
        }
    }
    .copyRight{ 
        .copyRight_con{
            padding:30px 10px;
            .country{
                right:10px;
            }      
        } 
    }
}

/* 屏幕宽度为1230时，隐藏菜单定位向左偏移 */
@media screen and (max-width:1230px){
    .nav{
        .nav_con{
            .hide_menu_con{
                right:2px;
                img{
                    right:12px;
                }
            }
        }
    }
}
/* 屏幕宽度768时，顶部nav、购物袋、banner、footer部分变化 */
@media screen and (max-width:768px){  
    html{
        font-size:13vw;
    }
    .html_hidden{
        overflow: hidden;
    }
    /* 顶部nav */
    .nav .nav_con{        
        .long{
            display: none;
        }
        /* 购物袋 */
        .hide_menu_con{
            width:100%;
            top:48px;
            right:0;
            box-sizing:border-box;
            img{
                right:22px;
            }
            .shop_cart{
                border-bottom:1px solid #e7e7e7;
            }
            .menu_link{
                padding:0 20px;
                li:first-of-type{
                    border:none;
                }
            }
        }
        /* 搜索栏 */
        .search_box{
            width:100%;
            padding:0 0.7rem;
            box-sizing: border-box;
            position: relative;
            .search_in{
                border-bottom:1px solid #272727;
                .close_search_top{
                    position:fixed;
                    top:-30px;
                    left:50%;
                    transform:translate(-50%);                    
                    -webkit-transform:translate(-50%);                    
                    transition: transform 0.3s;
                    transition: -webkit-transform 0.3s;
                }
                .close_search_top_show{
                    opacity: 1;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                }
            }
        }
    } 
    /* footer */
    .link_area_out{
        padding:30px 16px 0;
        .link_area{
            .link_list{
                float:none;
                width:100%;            
                .link_list_column{
                    float:none;
                    width:100%;
                    border-bottom:1px solid #ebebeb;
                    .column_title{
                        color:#000;
                        line-height: 37px;
                        .link_list_icon_button{
                            display: inline-block;
                            float:right;
                            margin:9px;
                            line-height: 1;
                            font-size:20px;
                            color:#999;
                            transition:transform 0.5s;
                            transition:-webkit-transform 0.5s;
                        }
                        .link_list_icon_button_down{
                            transform: rotate(45deg);
                            -webkit-transform: rotate(45deg);
                        }
                    }
                    .column_item{
                        display: none;
                        font-size:16px;
                        padding-left:20px;
                        opacity:0;
                        transition:opacity 0.5s;
                        -webkit-transition:opacity 0.5s;
                    }
                    .column_item_down{
                        opacity:1;
                    }
                }
            }
            .server_line{
                float:none;
                width:100%;
                .server_line_con{
                    display:none;
                }
                .server_line_con_left{
                    display: block;
                    font-size:14px;
                    color:#333;
                    padding-top:22px;
                    padding-bottom:37px;
                    a{
                        font-size:12px;
                        color:#333;
                        padding:0 3px;
                        transition:color 0.2s;
                        -webkit-transition:color 0.2s;
                        &:hover{
                            color:$font_hover_color;
                            text-decoration:underline;
                        }
                    }
                }
            }
        }
    }
    /* copyRight */
    .copyRight{
        .copyRight_con{
            .copyRight_con_top{
                margin:8px 0 0 -18px;
            }
            .copyRight_con_bottom{
                display: none;
            }
            .copyRight_con_bottom_left{
                display: block;
                .oneline{
                    display: block;
                    line-height:1.5;
                }
            }
            .country{
                position:absolute;
                left:16px;
                top:-33px;
            }
        }
    }
}